* {
    box-sizing: border-box;
}
.container {
    max-width: 400px;
    margin:10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px #999;
}

#display {
    height: 70px;
    font-size: 1.5rem;
    text-align: right;
    line-height: 70px;
    padding: 16px 8px;
    background-color: #999;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
.buttons >div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.button {
border: 0.5px solid #999;
line-height: 100px;
text-align: center;
font-weight: bold;
font-size: 1.5rem;
cursor: pointer;
}
#equal {
    background-color: rgb(83, 81, 81);
    color: white;
    transition: 0.5s ease-in-out;
}
.button:hover{
    background-color: #323330;
    color:white ;
}